@import "tailwindcss";

@theme {
  --color-primary: #D71A57;
  --color-secondary: #AB2E58;
  --color-tertiary: #F2F7F2;
  --color-quaternary: #BE97C6;
  --color-dark: #2E3640;
  --color-frost: #F8F8FF;

  --font-quantico: 'Quantico', serif;
  --font-space: 'Space Grotesk', serif;
  --font-syne: 'Syne', serif;
  --font-acme: 'Acme', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-frost);
  font-family: var(--font-space);
}

.bg-gradient-1 {
  background: linear-gradient(135deg, #D71A57, #AB2E58);
}

.bg-gradient-2 {
  background: linear-gradient(135deg, #F2F7F2, #BE97C6);
}

.bg-gradient-3 {
  background: linear-gradient(135deg, #2E3640, #D71A57);
}

.bg-gradient-4 {
  background: linear-gradient(135deg, #AB2E58, #BE97C6, #F2F7F2);
}

.bg-gradient-5 {
  background: linear-gradient(135deg, #2E3640, #F2F7F2, #D71A57);
}

.bg-gradient-6 {
  background: linear-gradient(180deg, rgba(248,248,255,1) 0%, rgba(181,181,214,0) 50%, rgba(248,248,255,1) 100%);
}